[submodule "QQ_Plot"]
	path = QQ_Plot
	url = ../QQ_Plot
[submodule "Overfitting"]
	path = Overfitting
	url = ../Overfitting
[submodule "Assumptions"]
	path = Assumptions
	url = ../Assumptions
[submodule "Variable_Selection"]
	path = Variable_Selection
	url = ../Variable_Selection
[submodule "Logistic_Regression"]
	path = Logistic_Regression
	url = ../Logistic_Regression
